[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
gunicorn = "*"
decorator = "*"
brotlipy = "*"
gevent = "*"
Flask = "*"
meinheld = "*"
werkzeug = ">=0.14.1"
six = "*"
flasgger = "*"
pyyaml = {git = "https://github.com/yaml/pyyaml.git"}
beacon = {git = "ssh://git@bitbucket.org/deepsourcelabs/beacon-py.git"}

[dev-packages]
rope = "*"
